<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Adicione dois números para uma soma</h1>
    <form action="post_num_soma" method="post">
        <input type="text" name="num1" id="num1" placeholder="Digite o primeiro número">
        <input type="text" name="num2" id="num2" placeholder="Digite o segundo número">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>