<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Resultado da multiplicação</h1>
    <% if (n1 == '' || n2 == '') { %>
        <p>Erro: Algum dos campos está vazio</p>
    <% } else { %>
        <p><%= n1 %> x <%= n2 %> = <%= multiplicacao %></p>
    <% } %>
</body>
</html>