<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Resultado da operação: </h2>
    <!-- history.forEach(function(calculo) { 

    }) -->
    <h2>Histórico</h2>
    <table border="1">
        <tr>
            <th>Número 1</th>
            <th>operacao</th>
            <th>Número 2</th>
            <th>Resultado</th>
        </tr>
        <% history.forEach(function(calculo) { %>
            <tr>
                <td><%= calculo.num1 %></td>
                <td><%= calculo.simbolo %></td>
                <td><%= calculo.num2 %></td>
                <td><%= calculo.resultado %></td>
            </tr>
        <% }) %>
    </table>
</body>
</html>