<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iForum - <%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>

<body>
   
        <%- include('partials/header') %>
        <div class="row" >
            <div class="col-12">
                <%- body %>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
               <%- include('partials/footer') %>
            </div>
        </div>
    </div>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
</body>

</html>