<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico</title>
</head>
<body>
    <h1>Histórico</h1>
    <table border="1">
        <tr>
            <th>Disciplina</th>
            <th>N1</th>
            <th>N2</th>
            <th>Média</th>
        </tr>
        <% notass.forEach(function(nota) { %>
            <tr>
                <td><%= nota.disciplina %></td>
                <td><%= nota.n1 %></td>
                <td><%=nota.n2 %></td>
                <td><%= nota.media %></td>
            </tr>
        <% }) %>
    </table>
    <a href="/alunos/registro">Registrar</a>
</body>
</html>