<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/registro.css">
    <title>Página de Registro</title>
</head>
<body>
    <h1>Novo registro</h1>
    <form action="/alunos/historico" method="post">
        <label for="disciplina">Disciplina: </label>
        <input type="text" name="disciplina" id="disciplina" placeholder="Digite a disciplina">
        <br>
        <label for="nota1">Nota 1: </label>
        <input type="number" name="nota1" id="nota1" placeholder="Digite a primeira nota">
        <br>
        <label for="nota2">Nota 2: </label>
        <input type="number" name="nota2" id="nota2" placeholder="Digite a segunda nota">
        <br>
        <button type="submit">Registrar</button>
    </form>
</body>
</html>
