/* Estilizando o Footer */
.footerDiv {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    margin-top: 40px;
}

.footerDiv p {
    margin: 8px 0;
}

.footerA {
    color: #04AA6D;
    padding: 0 8px;
    text-decoration: none;
    font-weight: bold;
}

.footerA:hover {
    text-decoration: underline;
}
