<ul>
    <li><a class="<%= page === 'home' ? 'active' : '' %>" href="/">Home</a></li>
    <li><a class="<%= page === 'operacoes' ? 'active' : '' %>" href="/operacoes">Operações</a></li>
    <li><a class="<%= page === 'sobre' ? 'active' : '' %>" href="/sobre">Sobre</a></li>
</ul>